# /api/.env.example
PORT=3000

# Configuración de BD local (Reemplazar con contraseñas seguras en el archivo .env)
POSTGRES_USER=usuario_aqui
POSTGRES_PASSWORD=password_aqui
POSTGRES_DB=snippets_db

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"